@model Tuple<IEnumerable<task_two.Models.Category>, IEnumerable<task_two.Models.Prodact>, IEnumerable<task_two.Models.Messege>
                                        , IEnumerable<task_two.Models.MangePage>, IEnumerable<task_two.Models.Testimonial>>
@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
<style>


    .test {
        font-weight: bold;
        background-color: transparent;
        font-family: cursive;
    }

        .test:hover {
            text-shadow: 0px 0px 17px rgb(0 0 0);
            color: #1196CC
        }
</style>
<script>
    function read_more() {
        var read_moredots = document.getElementById("read_moredots");
        var read_moremoreText = document.getElementById("read_moremore");
        var read_morebtnText = document.getElementById("read_moremyBtn");

        if (read_moredots.style.display === "none") {
            read_moredots.style.display = "inline";
            read_morebtnText.innerHTML = "Read more";
            read_moremoreText.style.display = "none";
        } else {
            read_moredots.style.display = "none";
            read_morebtnText.innerHTML = "Read less";
            read_moremoreText.style.display = "inline";
        }
    }


</script>
<section id="about">
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-5">
                    <div class="twentytwenty-container">
                        <img src="~/assert/images/doctors/Medicine1.jpg" alt="">
                        <img src="~/assert/images/doctors/Medicine2.jpg" alt="">
                        @*<img src="~/assert/images/doctors/man6.jpg" alt="" style="border-radius: 7%; border: 10px solid ;" />*@

                    </div>
                </div>
                <div class="col-md-7">
                    <h2 class="font-size-38 mt-0">We Care <span class="text-theme-colored">About Your</span> Health</h2>
                    <p class="lead">
                        Pharmacy name <span class="test">
                            @foreach (var item in Model.Item4)
                            {@item.pharmacyName}
                        </span>    <br />

                        Pharmacy- ‘PH-Help’ .it is the online deals site of medications supported by a Jordan Pharmacy, situated at  @foreach (var item in Model.Item4)
                        {@item.Pharmacylocation} near to "mujamma amman".
                        <br />

                        Situated in the core of
                        @foreach (var item in Model.Item4)
                        {@item.Pharmacylocation}


                        , ‘PH-Help’ pharmacy is open all time.                      <br />


                        <span id="read_moredots" style="display: inline"></span><span id="read_moremore" style="display:none">

                            ‘PH-Help’, the pioneer in pharmacy and Jordan pharmacy offers a wide determination of para pharmacy items, natural drugs, fragrant healing, and medications (homeopathy, veterinary items, medicine, and over-the-counter prescriptions) at the best costs.
                            <br />
                            <br />

                            <br />

                            Best wishes

                        </span>
                        <a class="test" onclick="read_more()" id="read_moremyBtn">Read More</a>

                    </p>

                    <a class="btn btn-theme-colored btn-lg btn-circled mt-30" href="#depertment">Make Oreder Now</a>
                </div>
            </div>
        </div>
    </div>
</section>