
@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
<section id="Contact_Us" class="divider parallax layer-overlay overlay-theme-colored-8">
    <div class="container">
        <div class="call-to-action">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2 class="text-white"><i class="pe-7s-call text-white"></i><a class="text-white" href="#"> (+962) &ndash; 790745694</a></h2>
                    <h2 class="text-white">Please free to contact us for emergency case.</h2>
                    <a href="/home/Contact_Us" class="btn btn-default btn-theme-colored2 mt-20">Contact With Us</a>
                </div>
            </div>
        </div>
    </div>
</section>