<section class="bg-lighter">
   
    <div class="container">
   
        <div class="row mtli-row-clearfix">
            <div class="col-md-12" style="width: 115% !important">
                <div class="owl-carousel-4col">
                    <div class="item" style="width:50%">
                        <div class="team-members border-bottom-theme-color-2px text-center maxwidth400">
                            <div class="team-thumb">
                                <img class="img-fullwidth" alt="" src="~/assert/images/doctors/container1.jpg">

                            </div>

                        </div>
                    </div>
                    <div class="item" style="width:50%">
                        <div class="team-members border-bottom-theme-color-2px text-center maxwidth400">
                            <div class="team-thumb">
                                <img class="img-fullwidth" alt="" src="~/assert/images/doctors/container2.jpg">
                                <div class="team-overlay"></div>
                            </div>

                        </div>
                    </div>
                    <div class="item" style="width:50%">
                        <div class="team-members border-bottom-theme-color-2px text-center maxwidth400">
                            <div class="team-thumb">
                                <img class="img-fullwidth" alt="" src="~/assert/images/doctors/container3.jpg">
                                <div class="team-overlay"></div>
                            </div>

                        </div>
                    </div>
                    <div class="item" style="width:50%">
                        <div class="team-members border-bottom-theme-color-2px text-center maxwidth400">
                            <div class="team-thumb">
                                <img class="img-fullwidth" alt="" src="~/assert/images/doctors/container4.jpg">
                                <div class="team-overlay"></div>
                            </div>

                        </div>
                    </div>
                    <div class="item" style="width:50%">
                        <div class="team-members border-bottom-theme-color-2px text-center maxwidth400">
                            <div class="team-thumb">
                                <img class="img-fullwidth" alt="" src="~/assert/images/doctors/container5.jpg">
                                <div class="team-overlay"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>