@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
<section id="doctors">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class=" mt-0 line-height-1">Our <span class="text-theme-colored">sponsors</span></h2>
                    <div class="title-icon">
                        <img class="mb-10" src="~/assert/images/title-icon.png" alt="">
                    </div>
                    <p>sponsors in our pharmacy</p>
                </div>
            </div>
        </div>
        <div class="row mtli-row-clearfix">
            <div class="col-md-12">
                <div class="owl-carousel-4col">
                    <div class="item">
                        <div class="team-members border-bottom-theme-color-2px text-center maxwidth400">
                            <div class="team-thumb">
                                <img class="img-fullwidth" style=" height: 260px; " alt="" src="~/assert/images/doctors/Panadol.png">
                                <div class="team-overlay"></div>
                            </div>
                            <div class="team-details bg-silver-light pt-10 pb-10">
                                <h4 class="text-uppercase font-weight-600 m-5">Panadol</h4>
                                <h6 class="text-theme-colored font-15 font-weight-400 mt-0">Pain Killer</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-members border-bottom-theme-color-2px text-center maxwidth400">
                            <div class="team-thumb">
                                <img class="img-fullwidth" style=" height: 260px; " alt="" src="~/assert/images/doctors/Nivea_Logo.png">
                                <div class="team-overlay"></div>
                            </div>
                            <div class="team-details bg-silver-light pt-10 pb-10">
                                <h4 class="text-uppercase font-weight-600 m-5">nivea</h4>
                                <h6 class="text-theme-colored font-15 font-weight-400 mt-0">Cream For Face</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-members border-bottom-theme-color-2px text-center maxwidth400">
                            <div class="team-thumb">

                                <img class="img-fullwidth" style=" height: 260px; " alt="" src="~/assert/images/doctors/Dove.png">
                                <div class="team-overlay"></div>
                            </div>
                            <div class="team-details bg-silver-light pt-10 pb-10">
                                <h4 class="text-uppercase font-weight-600 m-5">Dove</h4>
                                <h6 class="text-theme-colored font-15 font-weight-400 mt-0">Beauty Cream</h6>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="team-members border-bottom-theme-color-2px text-center maxwidth400">
                            <div class="team-thumb">
                                <img class="img-fullwidth" style=" height: 260px; " alt="" src="~/assert/images/doctors/Dettol.png">
                                <div class="team-overlay"></div>
                            </div>
                            <div class="team-details bg-silver-light pt-10 pb-10">
                                <h4 class="text-uppercase font-weight-600 m-5">Dettol</h4>
                                <h6 class="text-theme-colored font-15 font-weight-400 mt-0">Hygiene</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>