
<section class="bg-lighter">
    <div class="container">
        <div class="section-title text-center mt-0">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="mt-0 line-height-1">Our <span class="text-theme-colored">Gallery</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem<br> voluptatem obcaecati!</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-filter text-center">
                        <a href="#" class="active" data-filter="*">All</a>
                        <a href="#branding" class="" data-filter=".branding">Checkup</a>
                        <a href="#design" class="" data-filter=".design">Whitening</a>
                        <a href="#photography" class="" data-filter=".photography">Whitening</a>
                    </div>
                 
                    <div class="gallery-isotope default-animation-effect grid-3 gutter-small clearfix" data-lightbox="gallery">
                   
                        <div class="gallery-item design">
                            <div class="thumb">
                                <img class="img-fullwidth" src="/assert/images/doctors/350x150.png" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="text-holder">
                                    <div class="title text-center">Sample Title</div>
                                </div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/assert/images/doctors/350x150.png" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="gallery-item branding photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="/assert/images/doctors/350x150.png" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="text-holder">
                                    <div class="title text-center">Sample Title</div>
                                </div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/assert/images/doctors/350x150.png" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <div class="gallery-item design">
                            <div class="thumb">
                                <img class="img-fullwidth" src="/assert/images/doctors/350x150.png" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="text-holder">
                                    <div class="title text-center">Sample Title</div>
                                </div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/assert/images/doctors/350x150.png" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="gallery-item branding">
                            <div class="thumb">
                                <img class="img-fullwidth" src="/assert/images/doctors/350x150.png" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="text-holder">
                                    <div class="title text-center">Sample Title</div>
                                </div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/assert/images/doctors/350x150.png" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="gallery-item design photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="/assert/images/doctors/350x150.png" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="text-holder">
                                    <div class="title text-center">Sample Title</div>
                                </div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/assert/images/doctors/350x150.png" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  
                        <div class="gallery-item photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="/assert/images/doctors/350x150.png" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="text-holder">
                                    <div class="title text-center">Sample Title</div>
                                </div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/assert/images/doctors/350x150.png" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="gallery-item branding">
                            <div class="thumb">
                                <img class="img-fullwidth" src="/assert/images/doctors/350x150.png" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="text-holder">
                                    <div class="title text-center">Sample Title</div>
                                </div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/assert/images/doctors/350x150.png" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        <div class="gallery-item photography">
                            <div class="thumb">
                                <img class="img-fullwidth" src="/assert/images/doctors/350x150.png" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="text-holder">
                                    <div class="title text-center">Sample Title</div>
                                </div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/assert/images/doctors/350x150.png" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="gallery-item branding">
                            <div class="thumb">
                                <img class="img-fullwidth" src="/assert/images/doctors/350x150.png" alt="project">
                                <div class="overlay-shade"></div>
                                <div class="text-holder">
                                    <div class="title text-center">Sample Title</div>
                                </div>
                                <div class="icons-holder">
                                    <div class="icons-holder-inner">
                                        <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                                            <a href="/assert/images/doctors/350x150.png" data-lightbox-gallery="gallery" title="Your Title Here"><i class="fa fa-picture-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>