<style>

    .a {
        margin-right: 65px;
        margin-left: 50px;
    }
</style>
@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
<section>
    <div class="container pt-0 pb-0">
        <div class="section-content">
            <div class="row equal-height-inner mt-sm-0 a" data-margin-top="-110px">
                <div class="col-sm-12 col-md-6 pr-0 pr-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay1">
                    <div class="sm-height-auto bg-theme-colored">
                        <div class="p-30">
                            <h3 class="text-uppercase text-white mt-0">LOCATION <br><small class="text-gray-lighter">Care Solutions</small></h3>
                            <p class="text-white">Visit us on our Location.&nbsp;</p>
                            <a href="#Map" class="btn btn-border btn-circled btn-transparent btn-sm">Location</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-3 pl-0 pl-sm-15 sm-height-auto mt-sm-0 wow fadeInLeft animation-delay4">
                    <div class="sm-height-auto bg-theme-colored2">
                        <div class="p-30">
                            <h3 class="text-uppercase text-white mt-0">Contact Us <br><small class="text-gray-lighter">Close To Home</small></h3>
                            <h2 class="text-white">0790745694</h2>
                            <p class="text-white">Get The Quality Care That You Deserve Immediately</p>
                            <a href="./home/Contact_Us" class="btn btn-border btn-circled btn-transparent btn-sm">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
