<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<div class="section-title text-center" id="Map">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

            <h2 class=" mt-0 line-height-1"> <span class="text-theme-colored">Location</span></h2>
            <div class="title-icon">
                <i class='fas fa-map-marker-alt' style="color: red; font-size: 48px;"></i>
            </div>

        </div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6726.3750214573865!2d35.754664647113046!3d32.54784051850662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151c71caff755d7d%3A0x866ac5c79439bd6c!2z2KjYqtix2Kcg2YPZgdix2LnYp9mGIFBldHJhIFN0YXR1ZSBLdWZ1cmEnYW4!5e0!3m2!1sar!2sjo!4v1653511863032!5m2!1sar!2sjo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>