<style>
    .flaticon-medical-teeth1:before {
        color: gold;
    }
</style>

@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
<section id="pricing" class="bg-silver-light">
    <div class="container pb-50">
        <div class="section-title text-center mb-60">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0">Pricing</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="~/assert/images/title-icon.png" alt="">
                    </div>
                    <p>These are some pictures of the clinic or patients</p>
                </div>
            </div>
        </div>
        <div class="section-content mt-20">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30 wow fadeInLeft animation-delay1">
                    <div class="pricing-table border-3px border-theme-colored bg-white text-center">
                        <div class="p-40 bg-white">
                            <div class="pricing-icon" style="color:silver">
                                <i class="flaticon-medical-teeth2 text-hover-theme-colored" style="color:silver"></i>
                            </div>
                            <h3 class="package-type font-24 text-uppercase">Silver<br /> 1 Month </h3>
                            <h1 class="price text-theme-colored mb-10 font-36">$</h1>
                            <h4 class="discount">First Time</h4>
                            <p>
                                description for sub
                                @*Silver tooth crowns are a type of crown or cap that is used to cover and protect a damaged tooth from decay, infection and general damage to the tooth. Silver tooth crowns are typically made from amalgam, which is composed of mercury, tin, silver and copper.*@
                            </p>
                            <a class="btn btn-colored btn-theme-colored text-uppercase mt-30" href="#">Request an Appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30 wow fadeInUp animation-delay1">
                    <div class="pricing-table border-3px border-theme-colored bg-white text-center">
                        <div class="p-40 bg-white">
                            <div class="pricing-icon bg-theme-colored" style="background-color: gold;">
                                <i class="flaticon-medical-teeth1 text-white"></i>
                            </div>
                            <h3 class="package-type font-24 text-uppercase">Gold<br /> 6m</h3>
                            <h1 class="price text-theme-colored mb-10 font-36">$</h1>
                            <h4 class="discount">First Time</h4>
                            <p>
                                description for sub

                                @*Gold tooth crowns work in exactly the same way as any other tooth crown. They are used to cover a part of the tooth that has become damaged and is at risk of infection. There are a number of reasons you may require a crown, for example:
                                    <ul style="font-weight: bold; list-style:disc">
                                        <li>A breakage in your tooth</li>
                                        <li>Decay</li>
                                        <li>Requiring a root canal  Or a large filling</li>

                                    </ul>*@




                            </p>
                            <a class="btn btn-colored btn-theme-colored text-uppercase mt-30" href="#">Request an Appointment</a><br>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 hvr-float-shadow mb-sm-30 wow fadeInRight animation-delay1">
                    <div class="pricing-table border-3px border-theme-colored bg-white text-center">
                        <div class="p-40 bg-white">
                            <div class="pricing-icon">
                                <i class="flaticon-medical-teeth2 text-theme-colored"></i>
                            </div>
                            <h3 class="package-type font-24 text-uppercase">Platinum <br /> 1 Year</h3>
                            <h1 class="price text-theme-colored mb-10 font-36">$</h1>
                            <h4 class="discount">First Time</h4>
                            <p>
                                description for sub

                                @*These dentures are permanent, non-removable denture prosthetics. These dentures are permanently fixed to dental implants and can only be removed by your dentist. Our platinum denture package is our top-of-the-line option for dentures. If you’ve suffered from severe pain, difficulty .*@
                            </p>
                            <a class="btn btn-colored btn-theme-colored text-uppercase mt-30" href="#">Request an Appointment</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>