
<section id="SERVICES">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase mt-0 line-height-1">Our Services</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="/assert/images/title-icon.png" alt="">
                    </div>
                    <p>
                        description for sub
                    </p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored2 left media p-0">
                        <a href="#" class="icon bg-theme-colored icon-circled media-left pull-left"><i class="flaticon-medical-molecule16 text-white"></i></a>
                        <div class="media-body">
                            <h3 class="media-heading heading">Treatment Plan</h3>
                            <p>
                                Treatment plan Your dental treatment plan outlines exactly what dental services we recommend, in what timeframe, and how much they will cost after insurance, if applicable.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored2 left media p-0">
                        <a href="#" class="icon bg-theme-colored icon-circled media-left pull-left"><i class="fa fa-lightbulb-o text-white" ></i></a>
                        <div class="media-body">
                            <h3 class="media-heading heading">
                                Tips And Hints
                            </h3>
                            <p>
                                The dentist will give u tips on how to improve your oral care and keep your gum free from disease.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored2 left media p-0">
                        <a href="#" class="icon bg-theme-colored icon-circled media-left pull-left"><i class="fa fa-book text-white"></i></a>
                        <div class="media-body">
                            <h3 class="media-heading heading">
                                Teeth whitening & Tooth Gym Courses
                            </h3>
                            <p>
                                Teeth whitening can be one of the simplest and least expensive ways to improve your smile,Dental Veneers,Dental Bonding,Dental Crown,Inlays and Onlays, Dental Implants.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored2 left media p-0">
                        <a href="#" class="icon bg-theme-colored icon-circled media-left pull-left"><i class="fa fa-question-circle text-white"></i></a>
                        <div class="media-body">
                            <h3 class="media-heading heading">Answer All The Questions</h3>
                            <p>
                                We will be happy to answer all your dental questions, giving you the correct diagnosis of your case, checking your treatment ,pre and post instructions , providing you with the latest dental tips
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored2 left media p-0">
                        <a href="#" class="icon bg-theme-colored icon-circled media-left pull-left"><i class="fa fa-laptop text-white"></i></a>
                        <div class="media-body">
                            <h3 class="media-heading heading">Online Diagnosis Appointment</h3>
                            <p>
                                Day or night, visit (Name the  clinic )online clinic for diagnosis, treatment and prescriptions
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box iconbox-theme-colored2 left media p-0">
                        <a href="#" class="icon bg-theme-colored icon-circled media-left pull-left"><i class="fa fa-smile-o text-white"></i></a>
                        <div class="media-body">
                            <h3 class="media-heading heading">
                                Travel & Make Your Smile
                            </h3>
                            <p>
                                description for sub
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>