@model Tuple<IEnumerable<task_two.Models.Category>, IEnumerable<task_two.Models.Prodact>, IEnumerable<task_two.Models.Messege>
                                , IEnumerable<task_two.Models.MangePage>, IEnumerable<task_two.Models.Testimonial>>


<section id="TESTIMONIAL" class="divider parallax layer-overlay overlay-theme-colored-8" data-parallax-ratio="0.1" data-bg-img="http://placehold.it/1920x873">
    <div class="container">
        <div class="section-title text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="text-uppercase text-white mt-0 line-height-1">Testimonial</h2>
                    <div class="title-icon">
                        <img class="mb-10" src="images/title-icon-white.png" alt="">
                    </div>
                    <p class="text-white">Kind words from  <br> our patients</p>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel-3col" data-dots="true">
              
                        @foreach (var item in Model.Item5)
                        {                        <div class="item">
                            <div class="testimonial style1">
                                <div class="comment bg-theme-colored2">
                                    <p class="text-white">@item.Id</p>
                                </div>
                                <div class="content mt-20">
                                    <div class="thumb pull-right flip"> <img class="img-circle" alt="" src="http://placehold.it/95x95"> </div>
                                    <div class="text-right flip pull-right flip mr-20 mt-10">
                                        <h5 class="author text-white">@item.Reviwe</h5>
                                        <h6 class="title text-gray-bbb mt-0">Happy Patient</h6>
                                    </div>
                                </div>
                            </div>
                        </div>}
                        @*<div class="item">
                            <div class="testimonial style1">
                                <div class="comment bg-theme-colored2">
                                    <p class="text-white">Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                                </div>
                                <div class="content mt-20">
                                    <div class="thumb pull-right flip"> <img class="img-circle" alt="" src="http://placehold.it/95x95"> </div>
                                    <div class="text-right flip pull-right flip mr-20 mt-10">
                                        <h5 class="author text-white">Jonathan Smith</h5>
                                        <h6 class="title text-gray-bbb mt-0">Happy Patient</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial style1">
                                <div class="comment bg-theme-colored2">
                                    <p class="text-white">Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                                </div>
                                <div class="content mt-20">
                                    <div class="thumb pull-right flip"> <img class="img-circle" alt="" src="http://placehold.it/95x95"> </div>
                                    <div class="text-right flip pull-right flip mr-20 mt-10">
                                        <h5 class="author text-white">Mary James</h5>
                                        <h6 class="title text-gray-bbb mt-0">Happy Patient</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial style1">
                                <div class="comment bg-theme-colored2">
                                    <p class="text-white">Lorem ipsum dolor sit ametconse ctetur adipisicing elitvolup tatem error sit qui dolorem facilis.</p>
                                </div>
                                <div class="content mt-20">
                                    <div class="thumb pull-right flip"> <img class="img-circle" alt="" src="http://placehold.it/100x100"> </div>
                                    <div class="text-right flip pull-right flip mr-20 mt-10">
                                        <h5 class="author text-white">Lucy brown</h5>
                                        <h6 class="title text-gray-bbb mt-0">Happy Patient</h6>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>