@model Tuple<IEnumerable<task_two.Models.MangePage>>

@{
    ViewData["Title"] = "About_us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
<style>
    .q {
        font-size: 19px;
        text-align: justify;
        letter-spacing: 3px;
        color: black;
    }
</style>

<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="about_box">
                    <img src="~/assert/images/doctors/about.png" />
                </div>
            </div>


        </div>
        <div style="font-family: cursive;">
            @foreach (var item in Model.Item1)
            {

                @item.AboutUs;

            }
        </div>

    </div>