
@{
    ViewData["Title"] = "About_us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
<style>
    .q {
        font-size: 19px;
        text-align: justify;
        letter-spacing: 3px;
        color: black;
    }
</style>

<div class="about">
    <div class="container">
        <div class="row">
            <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="about_box">
                    <img src="~/assert/images/doctors/about.png" />
                </div>
            </dir>
            <dir class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="about_box">

                    <p>
                        Multiple terms and definitions exist to describe specific aspects of pharmacy practice and service provision,
                    </p>
                    <p>
                        yet none encompass the full range of professional services delivered by community pharmacy.
                    </p>
                    <p>
                        The majority of current pharmacy service definitions and nomenclature refer to either the professional philosophy of pharmaceutical care or to specific professional pharmacy services; particularly pharmaceutical services provided by pharmacists with a focus on drug safety, effectiveness and health outcomes. The objective of this paper is therefore to define a professional pharmacy service within the context of the community pharmacy model of service provision.
                    </p>
                    <p>
                        A professional pharmacy service is defined as "an action or set of actions undertaken in or organised by a pharmacy, delivered by a pharmacist or other health practitioner, who applies their specialised health knowledge personally or via an intermediary, with a patient/client, population or other health professional, to optimise the process of care, with the aim to improve health outcomes and the value of healthcare."
                    </p>
                    <p>
                        Based on Donabedian's framework, the professional pharmacy service definition incorporates the concepts of organizational structure, process indicators and outcome measures. The definition will assist in many areas including recognition of the full range of services provided by community pharmacy and facilitating the identification of indicators of professional pharmacy service implementation and sustainable provision.

                    </p>
                    <p>
                        A simple conceptual model for incorporating all services provided by community pharmacy is proposed.

                    </p>
                    <p>
                        We hope that you will be part of our family and patients from Jordan and all over the world .

                    </p>
                </div>
            </dir>
        </div>
    </div>
</div>