
@{
    ViewData["Title"] = "Contact_Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ var name = ViewBag.usernae_secc; }


<style>
    .contact-form {
        width: 100%;
        margin: 53px auto;
        max-width: 83%;
        box-shadow: 7px 8px 14px 3px rgb(0 0 0 / 30%);
        border-radius: 60px;
        padding: 20px 69px;
    }
    .form-control {
        border-radius: 23px !important;
    }
</style>
<section class="clients bg-theme-colored">




    <!-- Start Contact Us  -->
    <div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="contact-form">
                    <div class="contact-form-right">
                        <form asp-controller="Home" asp-action="Contact_Us">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label style="text-align: center !important; font-weight: bold; color: #fff; font-size: 20px;">Name</label>
                                        <input type="text" class="form-control" id="NameMessege" name="NameMessege" placeholder="Your Name" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label style="text-align: center !important; font-weight: bold; color: #fff; font-size: 20px; ">Email</label>
                                        <input type="email" placeholder="Your Email" id="SenderEmail" class="form-control" name="SenderEmail" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label style="text-align: center !important; font-weight: bold; color: #fff; font-size: 20px; ">Subject</label>
                                        <input type="text" class="form-control" id="Subject" name="Subject" placeholder="Subject" required data-error="Please enter your Subject">

                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label style="text-align: center !important; font-weight: bold; color: #fff; font-size: 20px; ">Your Message</label>

                                        <textarea class="form-control" id="ContactMessege" name="ContactMessege" placeholder="Your Message" rows="4" data-error="Write your message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>

                                    <div class="submit-button text-center">
                                        <button class="btn hvr-hover" id="submit" type="submit">Send Message</button>

                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>                    <!-- End Cart -->

</section>

