@model Tuple<IEnumerable<task_two.Models.Category>, IEnumerable<task_two.Models.Prodact>, IEnumerable<task_two.Models.Messege>
                            , IEnumerable<task_two.Models.MangePage>>
@{ ViewData["Title"] = "Home Page"; }
@{ var name = ViewBag.usernae_secc; }


<div class="main-content">


    <partial name="home" />

    <partial name="_HomeBox" />

    <partial name="_about" />

    <partial name="_Certificates" />


    <partial name="_Services" />


    <partial name="_Funfact" />


    <partial name="_Depertment" />



    <partial name="_Doctors" />





    <partial name="_Action" />

    <br />
    <partial name="_Map" />


    <partial name="_testimonial" />


    <partial name="_Blog" />


    <partial name="_Clients" />

</div>