@model IEnumerable<task_two.Models.Prodact>

@{
    ViewData["Title"] = "showproudact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;

    var idprodact = ViewBag.idprodact;}
<section id="depertment" class="bg-silver-light">
    <div class="container">

        <div class="section-content">
            <div class="row">

                @foreach (var item in Model)
                {

                    <div class="col-xs-12 col-sm-6 col-md-4 mb-30">
                        <div class="p-20 bg-white">
                            <img src="~/assert/images/pexels-julie-viken-593451.jpg" asp-append-version="true">
                            <h3 class="">
                                <a href="#">
                                    @item.NameProdact
                                </a>
                            </h3>
                            <p class="">
                                @item.Describtion
                            </p>
                            <p>

                                @item.Price $
                            </p>

                            @if (name != null)
                            {
                                <a class="btn btn-flat btn-theme-colored mt-15 text-theme-color-2" name="q" asp-action="Addtocart" asp-route-c="@item.IdProdact">add to </a>
                            }
                        </div>
                    </div>}





            </div>
        </div>
    </div>
</section>

