@model task_two.Models.Account

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

<h4>Account</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone_number" class="control-label"></label>
                <input asp-for="Phone_number" class="form-control" />
                <span asp-validation-for="Phone_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UerName" class="control-label"></label>
                <input asp-for="UerName" class="form-control" />
                <span asp-validation-for="UerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateRegister" class="control-label"></label>
                <input asp-for="DateRegister" class="form-control" />
                <span asp-validation-for="DateRegister" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Background" class="control-label"></label>
                <input asp-for="Background" class="form-control" />
                <span asp-validation-for="Background" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label style="text-align: center !important; font-weight: bold;">Role id</label>
                <select class="form-control" id="RoleId" name="RoleId">
                    <option value="1">Admin - 1</option>
                    <option value="2">User - 2 </option>
                </select>
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m => m.genderenum,
    new SelectList(Enum.GetValues(typeof(Gender))),
    "Select Gender")

            </div>
            <div class="form-group">
                <label asp-for="countriesenum" class="control-label"></label>
                @Html.DropDownListFor(m => m.countriesenum,
    new SelectList(Enum.GetValues(typeof(Countries))),
    "Select Countries")

            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

