@model Tuple<IEnumerable<task_two.Models.Prodact>,IEnumerable<task_two.Models.Cart>>
          
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
                                            }

@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}

                                            <h2>Buy</h2>
                                            <div class="contact-box-main">
                                                <div class="container">

                                                    <div class="row">
                                                        <div class="col-lg-8 col-sm-12">
                                                            <div class="contact-form-right">

                                                                <form asp-controller="User" asp-action="addtocart" method="post">
                                                                    @foreach (var item in Model.Item1)
                                                                    {
                                                                        @if (item.IdProdact == id)
                                                                        {
                                                                            
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div class="form-group">
                                                                                        <input type="text" class="form-control" id="IdProdact" name="IdProdact" placeholder="enter balanc" value="@id" required data-error="Please enter your name" readonly>
                                                                                        <div class="help-block with-errors"></div>
                                                                                    </div>
                                                                                </div> <div class="col-md-12">
                                                                                    <div class="form-group">
                                                                                        <input type="text" class="form-control" id="IdProdact" name="IdProdact" placeholder="enter balanc" value="@id" required data-error="Please enter your name" readonly>
                                                                                        <div class="help-block with-errors"></div>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-md-12">
                                                                                    <div class="form-group">
                                                                                        <input type="text" class="form-control" id="Price" name="Price" value="@item.Price" required data-error="Please enter your name" readonly>
                                                                                        <div class="help-block with-errors"></div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-12">
                                                                                    <div class="form-group">
                                                                                        <input type="text" class="form-control" id="NameProdact" name="NameProdact" value="@item.NameProdact" required data-error="Please enter your name" readonly>
                                                                                        <div class="help-block with-errors"></div>
                                                                                    </div>
                                                                                </div>


                                                                            </div>
                                                                        }

                                                                    }
                                                                    


                                                                    <div class="submit-button text-center">
                                                                        <button class="btn hvr-hover" id="submit" type="submit">buy</button>

                                                                    </div>

                                                                </form>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div>
                                                <a asp-action="Index">Back to List</a>
                                            </div>
