@model Tuple<IEnumerable<task_two.Models.Cart>, IEnumerable<task_two.Models.Prodact>, IEnumerable<task_two.Models.Bill>>
@{
    ViewData["Title"] = "Buy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Buy</h2>

@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;
    var price = 0;}
<div class="contact-box-main">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">

                    <form asp-controller="User" asp-action="buy" method="post">
                        <table style="width:100%">
                            <tr>
                                <th>IdProdact</th>
                                <th>Price</th>
                                <th>NameProdact</th>
                            </tr>
                            @foreach (var item in Model.Item1)
                            {
                                @if (item.id_user == id)
                                {


                                    <tr>
                                        <td>@id</td>
                                        <td>@item.CartProdactTrans.Price</td>
                                        <td>@item.CartProdactTrans.NameProdact</td>
                                    </tr>

                                    price += item.CartProdactTrans.Price;
                                }

                            }

                        </table>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="NameBill" id="NameBill" class="form-control" name="NameBill" required data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" placeholder="PhoneNumber" id="PhoneNumber" class="form-control" name="PhoneNumber" required data-error="Please enter your email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>   
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="Price" name="Price" value="@price" required data-error="Please enter your name" readonly>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>


                        <div class="submit-button text-center">
                            <button class="btn hvr-hover" id="submit" type="submit">buy</button>

                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
