@model task_two.Models.Account

@{ ViewData["Title"] = "login";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
<style>
    .login-header {
        text-align: center;
    }

    .signin-content {
        margin: 20px auto;
        width: 100%;
        max-width: 40%;
        padding: 24px 80px;
        height: 100%;
        background-color: transparent;
        box-shadow: 7px 8px 14px 3px rgb(0 0 0 / 30%);
        border-radius: 60px;
    }

    .image-container {
        position: absolute;
        background-color: transparent;
        z-index: -1;
        width: 100%;
        max-width: 40%;
    }

    .content-container {
        z-index: 1;
        background-color: transparent;
    }

    .img-bg {
        width: 100%;
        height: 100%;
    }

    .inner-img {
        max-width: 100%;
        width: 56%;
        height: 41%;
        margin: 0px auto;
        position: relative;
        margin-bottom: 39px;
        left: 17%;
    }
</style>
<div class="signin-content">
    <div class="content-container">
        <h1 class="login-header">login</h1>
        <hr />
        <div class="grid-container">
            <div class="grid-item">
                <img class="inner-img" src="~/assert/images/main-logo.png" />
            </div>
            <div class="grid-item">
                <div class="signin-form">

                    <form asp-action="Login" class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="text" name="UserName" id="UserName" placeholder="UserName" class="form-control" style="border-radius: 36px;" />
                            <span asp-validation-for="UerName" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="Password" id="Password" placeholder="Password" autocomplete="on" class="form-control" style="border-radius: 36px;" />
                            <span asp-validation-for="UerName" class="text-danger"></span>

                        </div>
                        <div class="submit-button text-center">
                            <input type="submit" name="Login" id="Login" class="btn hvr-hover" style="background-color: #1196CC; border-radius: 30% 0% 30% 0%; color: white; " value="Log in" />
                        </div>
                        <a href="~/User/register" class="a1">create account ?</a>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

@if (TempData["login"] != null)
{
    <script>alert('@TempData["login"]');</script>
}

