@model task_two.Models.Account

@{
    ViewData["Title"] = "login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>login</h2>

<h4>Account</h4>
<hr />

<div>
    <div class="signin-content">
        <div class="grid-container">
            <div class="grid-item">
                <img src="~/login_reg/images/signin-image.jpg" />
            </div>
            <div class="grid-item">
                <div class="signin-form">

                    <form asp-action="Login" class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="text" name="UserName" id="UserName" placeholder="UserName" class="form-control" style="border-radius: 36px;" />
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="Password" id="Password" placeholder="Password" class="form-control" style="border-radius: 36px;" />
                        </div>
                        <div class="submit-button text-center">
                            <input type="submit" name="Login" id="Login" class="btn hvr-hover" style="background-color: #1196CC; border-radius: 30% 0% 30% 0%; color: white; " value="Log in" />
                        </div>
                        <a href="~/User/register" class="a1">create account ?</a>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

