@model task_two.Models.Account
@{
    ViewData["Title"] = "register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ var name = ViewBag.usernae_secc;
    var roleid = ViewBag.RoleId;
    var id = ViewBag.id;}
<style>
    .signin-content {
        margin: 20px auto;
        width: 100%;
        max-width: 62%;
        padding: 24px 55px;
        height: 100%;
        background-color: transparent;
        box-shadow: 7px 8px 14px 3px rgb(0 0 0 / 30%);
        border-radius: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 35% auto;
    }

    .grid-item {
        background-color: rgba(255, 255, 255, 0.8);
        display: flex;
        align-items: center;
        margin-bottom: 24%;
    }

    .a1 {
        margin-left: 61%;
        color: #999999;
        font-family: cursive;
    }

    select {
        word-wrap: normal;
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border-radius: 36px;
    }
</style>
<div>
    <div class="signin-content">
        <div class="grid-container">
            <div class="grid-item">
                <img src="~/assert/images/main-logo.png" />
            </div>
            <div class="grig-item">
                <div class="signin-form">
                    <form asp-action="register" class="register-form" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="UerName" type="text" class="form-control" style="border-radius: 36px;" placeholder="User Name" />
                            <span asp-validation-for="UerName" class="text-danger"></span>
                        </div>
                        <div class="form-group">


                            <input asp-for="Name" type="text" class="form-control" style="border-radius: 36px;" placeholder="Full Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input asp-for="Email" type="email" class="form-control" style="border-radius: 36px;" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">

                            <input asp-for="Password" type="password" class="form-control" style="border-radius: 36px;" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Phone_number" type="text" class="form-control" style="border-radius: 36px;" placeholder="Phone Number" />
                            <span asp-validation-for="Phone_number" class="text-danger"></span>
                        </div>

                        <div>
                            @Html.DropDownListFor(m => m.genderenum,
        new SelectList(Enum.GetValues(typeof(Gender))),
        "Select Gender")

                        </div>
                        <br />
                        <div>
                            @Html.DropDownListFor(m => m.countriesenum,
        new SelectList(Enum.GetValues(typeof(Countries))),
        "Select Countries")

                        </div>
                        <br />
                        <div class="form-group">
                            <input asp-for="City" type="text" class="form-control" style="border-radius: 36px;" placeholder="Enter City" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ImageFile_back" class="control-label"></label>
                            <input asp-for="ImageFile_back" accept="image/*" required />

                            <span asp-validation-for="ImageFile_back" class="text-danger"></span>
                        </div>

                        <div class="submit-button text-center">
                            <input type="submit" value="Sing Up" class="btn hvr-hover" style="background-color: #1196CC; border-radius: 30% 0% 30% 0%; color: white; " />
                        </div>
                        <a href="~/user/login" class="a1">Already have an account?</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}




