
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{ var name = ViewBag.usernae_secc;
    }

<div class="main-content">


    <partial name="~/Views/Home/home.cshtml" />

    <partial name="~/Views/Home/_HomeBox.cshtml" />

    <partial name="~/Views/Home/_about.cshtml" />

    <partial name="~/Views/Home/_Certificates.cshtml" />
    
    <partial name="~/Views/Home/_Services.cshtml" />

    <partial name="~/Views/Home/_Funfact.cshtml" />
   
    <partial name="~/Views/Home/_Depertment.cshtml" />

    <partial name="~/Views/Home/_Doctors.cshtml" />
    
    <partial name="~/Views/Home/_Pricing.cshtml" />
    
    <partial name="~/Views/Home/_Action.cshtml" />
   
    <partial name="~/Views/Home/_gallary.cshtml" />
   
    <partial name="~/Views/Home/_testimonial.cshtml" />
 
    <partial name="~/Views/Home/_Blog.cshtml" />
  
    <partial name="~/Views/Home/_Clients.cshtml" />
</div>