@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer id="footer" class="footer bg-black-111">
    <div class="container pt-70 pb-40">
        <div class="row border-bottom-black">
            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                    <img class="mt-10 mb-20" alt="" src="./assert/images/logo-wide-white@2x.png">
                    <ul class="list-inline mt-5">
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-map-marker text-theme-colored mr-5"></i> <a class="text-gray" href="#">Mujama Amman , Irbid,Jordan</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-colored mr-5"></i> <a class="text-gray" href="#">(+962)790745694</a> </li>
                        <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope text-theme-colored mr-5"></i> <a class="text-gray" href="#">PhHelp@gmail.com</a> </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                </div>
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Call Us Now</h5>
                    <div class="text-gray">
                        (+962)790745694 <br>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="widget dark">
                </div>
                <div class="widget dark">
                    <h5 class="widget-title line-bottom">Opening Hours</h5>
                    <div class="opening-hours">
                        <ul class="list-border">
                            <li class="clearfix">
                                <span> 7 Days In The Week 24/7 </span>
                                <div class="value pull-right flip">  </div>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-bottom bg-black-222">
        <div class="container pt-10 pb-0">
            <div class="row">
                <div class="col-md-6 sm-text-center">
                    <p class="font-13 text-black-777 m-0">Copyright &copy;2022 Ibrahem & Mones . All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>