  <!-- Header -->
@{ var name = ViewBag.usernae_secc;
    var id = ViewBag.id;
}
<header id="header" class="header">
    <div class="header-top bg-theme-colored sm-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="widget text-white">
                        <i class="fa fa-clock-o text-white"></i> Availability: 24 Hours
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle p-0 bg-lighter xs-text-center">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <a class="menuzord-brand pull-left flip sm-pull-center mb-15" href="index-mp-layout1.html"><img src="images/logo-wide.png" alt=""></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="header-widget-contact-info-box sm-text-center">
                        <div class="media element contact-info">
                            <div class="media-left">
                                <a href="#">
                                    <i class="fa fa-envelope text-theme-colored font-icon sm-display-block"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#" class="title">Mail Us Today</a>
                                <h5 class="media-heading subtitle">adshamleh@hotmail.com</h5>
                            </div>
                        </div>
                        <div class="media element contact-info">
                            <div class="media-left">
                                <a href="#">
                                    <i class="fa fa-phone-square text-theme-colored font-icon sm-display-block"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#" class="title">WhatsApp for more details</a>
                                <h5 class="media-heading subtitle">+(012) 345 6789</h5>
                            </div>
                        </div>
                        <div class="media element contact-info">
                            <div class="media-left">
                                <a href="#">
                                    <i class="fa fa-building-o text-theme-colored font-icon sm-display-block"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#" class="title">Company Location</a>
                                <h5 class="media-heading subtitle">121 King Street, Melbourne</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
            <div class="container">
                <nav id="menuzord" class="menuzord blue no-bg">
                    @if (@name == null)
                    {
                        <div class="pull-right sm-pull-left mb-sm-15">
                            <a class="btn btn-colored btn-flat btn-theme-colored mt-15 mt-sm-10 pt-10 pb-10 ajaxload-popup" href="~/User/register">Register Now</a>
                        </div>

                    }
                    else
                    {
                <div class="pull-right sm-pull-left mb-sm-15">
                    <a class="btn btn-colored btn-flat btn-theme-colored mt-15 mt-sm-10 pt-10 pb-10 ajaxload-popup" href="~/User/Profiel">welcome @name</a>
                    <a class="btn btn-colored btn-flat btn-theme-colored mt-15 mt-sm-10 pt-10 pb-10 ajaxload-popup" asp-action="Logout" >logout </a>

                </div>


                    }

                    <ul class="list-inline nav-side-icon-list pull-right">
                        <li>
                            <a href="#fullscreen-search-form" id="fullscreen-search-btn"><i class="search-icon fa fa-search"></i></a>
                            <div id="fullscreen-search-form" class="hanging-top-search-form">
                                <button type="button" class="close">×</button>
                                <form>
                                    <input type="search" value="" placeholder="Search keywords(s)" />
                                    <button type="submit"><i class="search-icon fa fa-search"></i></button>
                                </form>
                            </div>
                        </li>
                        <li>
                            <div class="woocommerce top-nav-mini-cart-icon-container">
                                <div class="top-nav-mini-cart-icon-contents" hidden>
                                    <a class="mini-cart-icon" href="#" title="View your shopping cart"><i class="icon_cart_alt"></i><span class="items-count">2</span> <span class="cart-quick-info">2 items - <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>38.00</span></span></a>
                                    <div class="dropdown-content">
                                        <div class="dropdown-content-wrapper">
                                            <ul class="woocommerce-mini-cart cart_list product_list_widget ">
                                                <li class="woocommerce-mini-cart-item mini_cart_item">
                                                    <a href="#" class="remove" aria-label="Remove this item" data-product_id="3265" data-product_sku="">×</a>
                                                    <a href="#"><img src="http://placehold.it/68x68" alt="" width="68">Happy Ninja&nbsp;</a>
                                                    <span class="quantity">1 × <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>18.00</span></span>
                                                </li>
                                                <li class="woocommerce-mini-cart-item mini_cart_item">
                                                    <a href="#" class="remove" aria-label="Remove this item" data-product_id="31" data-product_sku="">×</a>
                                                    <a href="#"><img src="http://placehold.it/68x68" alt="" width="68">Ninja Silhouette&nbsp;</a>
                                                    <span class="quantity">1 × <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>20.00</span></span>
                                                </li>
                                            </ul>
                                            <div class="woocommerce-mini-cart__total total cart-subtotal">Subtotal: <span><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">£</span>38.00</span></span></div>
                                            <div class="woocommerce-mini-cart__buttons buttons cart-action-buttons">
                                                <div class="row">
                                                    <div class="col-xs-6 pr-5"><a href="http://kodesolution.net/demo/wp/medicale-wp/cart/" class="btn btn-gray btn-block wc-forward">View Cart</a></div>
                                                    <div class="col-xs-6 pl-5"><a href="http://kodesolution.net/demo/wp/medicale-wp/checkout/" class="btn btn-dark btn-theme-colored btn-block checkout wc-forward">Checkout</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="menuzord-menu">
                        <li class="active">
                            <a href="/home">Home</a>

                        </li>
                        <li>
                            <a href="/home#SERVICES">SERVICES</a>

                        </li>
                        <li>
                            <a href="/home#depertment">Consulting</a>

                        </li>
                        <li>
                            <a href="/home#doctors">Dentist</a>

                        </li>
                        <li>
                            <a href="/home#pricing">pricing</a>

                        </li>
                        <li>
                            <a href="~/Home/About_us">About Us</a>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>