  <!-- Header -->
@{ var name = ViewBag.usernae_secc;
    var id = ViewBag.id;
}
<header id="header" class="header">
    <div class="header-top bg-theme-colored sm-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="widget text-white">
                        <i class="fa fa-clock-o text-white"></i> Availability: 24 Hours
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle p-0 bg-lighter xs-text-center">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <a class="menuzord-brand pull-left flip sm-pull-center mb-15" href="index-mp-layout1.html"><img src="./assert/images/logo-wide-white.png" alt=""></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <div class="header-widget-contact-info-box sm-text-center">
                        <div class="media element contact-info">
                            <div class="media-left">
                                <a href="#">
                                    <i class="fa fa-envelope text-theme-colored font-icon sm-display-block"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#" class="title">Mail Us Today</a>
                                <h5 class="media-heading subtitle">PhHelp@gmail.com</h5>
                            </div>
                        </div>
                        <div class="media element contact-info">
                            <div class="media-left">
                                <a href="#">
                                    <i class="fa fa-phone-square text-theme-colored font-icon sm-display-block"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#" class="title">WhatsApp for more details</a>
                                <h5 class="media-heading subtitle">(+962) 790745694</h5>
                            </div>
                        </div>
                        <div class="media element contact-info">
                            <div class="media-left">
                                <a href="#">
                                    <i class="fa fa-building text-theme-colored font-icon sm-display-block"></i>
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="#" class="title">Pharamcy Location</a>
                                <h5 class="media-heading subtitle">Irbid</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
            <div class="container">
                <nav id="menuzord" class="menuzord blue no-bg">
                    @if (@name == null)
                    {
                        <div class="pull-right sm-pull-left mb-sm-15">
                            <a class="btn btn-colored btn-flat btn-theme-colored mt-15 mt-sm-10 pt-10 pb-10" href="~/User/register">Register Now</a>
                            <a class="btn btn-colored btn-flat btn-theme-colored mt-15 mt-sm-10 pt-10 pb-10" href="~/User/login">login</a>
                        </div>

                    }
                    else
                    {
                <div class="pull-right sm-pull-left mb-sm-15">
                    <a class="btn btn-colored btn-flat btn-theme-colored mt-15 mt-sm-10 pt-10 pb-10" href="~/User/Profiel">welcome @name</a>
                    <a class="btn btn-colored btn-flat btn-theme-colored mt-15 mt-sm-10 pt-10 pb-10" asp-action="Logout" >logout </a>

                </div>


                    }

                    <ul class="menuzord-menu">
                        <li class="active">
                            <a href="/home">Home</a>

                        </li>
                        <li>
                            <a href="/home#SERVICES">SERVICES</a>

                        </li>
                        <li>
                            <a href="/home#depertment">Consulting</a>

                        </li>
                        <li>
                            <a href="/home#doctors">Sponsors</a>

                        </li>
                        <li>
                            <a href="/home/Contact_Us">Contact Us</a>

                        </li>
                        <li>
                            <a href="~/Home/About_us">About Us</a>

                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>