@{ var name = ViewBag.usernae_secc;
    var id = ViewBag.id;
    var roleid = ViewBag.RoleId;
}
<style>

    #notfound {
        position: relative;
        height: 100vh;
    }

        #notfound .notfound {
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

    .notfound {
        max-width: 767px;
        width: 100%;
        line-height: 1.4;
        padding: 0px 15px;
    }

        .notfound .notfound-404 {
            position: relative;
            height: 150px;
            line-height: 150px;
            margin-bottom: 25px;
        }

            .notfound .notfound-404 h1 {
                font-family: 'Titillium Web', sans-serif;
                font-size: 186px;
                font-weight: 900;
                margin: 0px;
                text-transform: uppercase;
                background: url('../img/text.png');
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: cover;
                background-position: center;
            }

        .notfound h2 {
            font-family: 'Titillium Web', sans-serif;
            font-size: 26px;
            font-weight: 700;
            margin: 0;
        }

        .notfound p {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0px;
            text-transform: uppercase;
        }

        .notfound a {
            font-family: 'Titillium Web', sans-serif;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            text-decoration: none;
            border: none;
            background: #5c91fe;
            padding: 10px 40px;
            font-size: 14px;
            font-weight: 700;
            border-radius: 1px;
            margin-top: 15px;
            -webkit-transition: 0.2s all;
            transition: 0.2s all;
        }

            .notfound a:hover {
                opacity: 0.8;
            }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - task_two</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href="~/assert/images/favicon.png" rel="shortcut icon" type="image/png">
    <link href="~/assert/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/assert/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="~/assert/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link href="~/assert/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">


    <link href="~/assert/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assert/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/assert/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/assert/css/css-plugin-collections.css" rel="stylesheet" />

    <link href="~/assert/css/menuzord-megamenu.css" rel="stylesheet" />
    <link id="menuzord-menu-skins" href="~/assert/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />

    <link href="~/assert/css/style-main.css" rel="stylesheet" type="text/css">

    <link href="~/assert/css/preloader.css" rel="stylesheet" type="text/css">

    <link href="~/assert/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">

    <link href="~/assert/css/responsive.css" rel="stylesheet" type="text/css">

    <link href="~/assert/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="~/assert/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="~/assert/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />


    <link href="~/assert/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">


    <script src="~/assert/js/jquery-2.2.4.min.js"></script>

    <script src="~/assert/js/jquery-plugin-collection.js"></script>


    <script src="~/assert/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assert/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>



</head>
@if (roleid == "\0\0\0\u0002" || roleid == null)
{
    <body class="has-side-panel side-panel-right fullwidth-page">
        <div id="wrapper">


            @*@Html.Partial("_hearder")*@
            <partial name="_hearder" />

            @RenderBody()

            <partial name="_footer" />
        </div>




        <script src="~/assert/js/custom.js"></script>


        <script src="~/assert/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
        <script src="~/assert/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
        <script src="~/assert/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script src="~/assert/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script src="~/assert/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
        <script src="~/assert/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
        <script src="~/assert/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
        <script src="~/assert/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script src="~/assert/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
}
else
{
    IgnoreBody();
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Oops! This Page Could Not Be Found</h2>
            <p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
            <a href="~/User/Test">Go To Homepage</a>
        </div>
    </div>

}
</html>
